
   
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');



/* VARIABLES */
:root{
    --background          : #3a4764;
    --background-dark     : #232c43;
    --background-very-dark: #182034;


    --key-color-top       : #ffffff;
    --key-color-bottom    : #3a4764;
    --key-background      : #eae3dc;
    --key-background-dark : #ffffff;
    --key-shadow          : #b4a597;

    --key-blue-background : #637097;
    --key-blue-shadow     : #404e72;

    --key-red-background  : #d03f2f;
    --key-red-shadow      : #93261a;

    --code-color          : #ffffff;
    --firma-color         : #000000;

    --transition: 1s;
}


/* ESTRUCTURA TEMA */

.calc{
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    transition: var(--transition);
    
}
.calc-content{  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calc-top h4{
    color: var(--key-color-top);
    transition: var(--transition);
}

.calc-top h5{
    color: var(--key-color-top);
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    transition: var(--transition);
}
.calc-top span{
    color: var(--key-color-top);
    font-size: 13px;
    transition: var(--transition);
}
.calc-top-result input{
    background-color: var(--background-very-dark); 
    color: var(--key-color-top);
    border: none;
    margin-bottom: 20px;
    text-align: right;
    padding: 17px;
    font-size: 32px;
    border-radius: 10px;
    transition: var(--transition);
}




/* BOTONES */
.calc-keys{
    background-color: var(--background-dark);
    border-radius: 10px;
    padding: 10px;
    transition: var(--transition);
}
.calc-keys input{
    background-color: var(--key-background);
    color: var(--key-color-bottom);
    border: 2px solid var(--key-background);
    border-radius: 5px;
    box-shadow: 1px 1.5px 1px var(--key-shadow);
    margin: 10px;
    height: 35px;
    transition: var(--transition);
}
#reset, #del{
    background-color: var(--key-blue-background);
    color: #FFF;
    box-shadow: 1px 1.5px 1px var(--key-blue-shadow);
    border: 2px solid var(--key-blue-background);
    transition: var(--transition);
}
#del{
    font-size: 13px;
    padding: 0 3%;
}
#equals{
    background-color: var(--key-red-background);
    color: var(--key-background);
    box-shadow: 1px 1.5px 1px var(--key-red-shadow);
    border: 2px solid var(--key-red-background);
    transition: var(--transition);
}


/* FIRMA */
 
.attribution{
    color: var(--code-color);
    padding-top: 150px;
    margin: 0%;
}
p{
    color: var(--firma-color)
}


/* HOVER*/
.calc-keys input:hover{
    border: 2px solid var(--key-background);
    color: var(--key-color-top);
    background-color: hsla(0, 0%, 100%, 0);
    transition: 0.5s;
}
#reset:hover, #del:hover{
    border: 2px solid var(--key-blue-background);
    color: var(--key-blue-background);
    background-color: hsla(0, 0%, 100%, 0);
    transition: 0.5s;
}
#equals:hover{
    border: 2px solid var(--key-red-background);
    color: var(--key-red-background);
    background-color: hsla(0, 0%, 100%, 0);
    transition: 0.5s;
}

.calc-keys input:active{
    box-shadow: 3px 3px 3px var(--key-shadow);
    background-color: var(--key-background);
    color: var(--background);
}
#reset:active, #del:active{
    box-shadow: 3px 3px 3px var(--key-blue-shadow);
    background-color: var(--key-blue-background);
    color: var(--key-background);
}
#equals:active{
    box-shadow: 3px 3px 3px var(--key-red-shadow);
    background-color: var(--key-red-background);
    color: var(--key-background);
}

/* BOTON TEMA */

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
  

/*  RANGO */

 input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 18px;
    width: 18px;
    border-radius: 20px;
    background: var(--key-red-background);
    cursor: pointer;
    box-shadow: 1px 1px 1px var(--key-red-shadow);
    transition: var(--transition);
 }
  

/* FONDO DEL TOGGLE */
.toggle{
    background-color: var(--background-dark);
    border-radius: 25px;
    height: 40px;
    padding: 0 6px !important;
    transition: var(--transition);
}

/* LETRA */
*{
    font-family: 'Spartan', sans-serif;
}

